<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.3/angular.min.js"></script>
  <script src="testpage.js"></script>
</head>
<body ng-app="testPage">
  <div ng-controller="HomeController">
    <div style="border:1px solid black"> <span style="font-weight: bold">Ask a Question: </span>
      <form class="question">
        <input ng-model="question"></input>
        <button ng-click="getSentence(question)">Submit</button>
      </form>
      <div ng-model="sentence">{{sentence}}</div>
    </div> 
    <div style="border:1px solid black"> <span style="font-weight: bold">The Context is: </span>
      <div>{{context}}</div>
    </div> 
    <div style="border:1px solid black"> <span style="font-weight: bold">Does this sentence make sense? </span>
      <form>
        <label>{{sentence}}</label>
        <button ng-click="upvoteSentence()">Upvote</button>
        <button ng-click="downvoteSentence()">Downvote</button>
        <button ng-click="getSentence(sentence)">Get Next</button>
      </form>
    </div>
    <table border=1>
      <tr>
        <th>Total Sentences Seen</th>
        <th>Upvotes</th>
        <th>Downvotes</th>
      </tr>
      <tr>
        <td> {{total}} </td>
        <td> {{upvotes}} </td>
        <td> {{downvotes}} </td>
      </tr>
    </table>
  </div>
</body>